#intro {
    background-repeat: no-repeat;
    background-size: cover;
}

.hover-shadow {
    transition: all 0.2s ease-in-out
}

.hover-shadow:hover {
    /* outline: 1px solid black; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.261)
}

.loginSection {
    /* border: 1px solid rgba(0, 0, 0, 0.254); */
    margin: auto 36px;
    border-radius: 5px;
}

#loginFormContainer {
    /* padding: 5vh; */
    width: 1280px;
}

.buttonRounded {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 2em
}

.buttonRounded-outlined {
    border: 2px solid white;
    background-color: black;
    color: white;
    outline: none;
    border-radius: 2em;
    transition: all 0.2s ease-in-out;
}

.buttonRounded-outlined:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.buttonRounded-outlined-light {
    border: 2px solid black;
    background-color: white;
    color: black;
    outline: none;
    border-radius: 2em;
    transition: all 0.2s ease-in-out;
}

.buttonRounded-outlined-light:hover {
    background-color: black;
    color: white;
}

.login-form-group {
    width: 30vw;
}

#loginHeading {
    background-color: black;
    color: white;
}

#loginRight {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#searchSection {
    height: 50vh;
}

#category-typing-text {
    height: 9vh;
}

#takeBusinessOnline {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#takeBusinessOnlineSection {
    margin: 10vh auto;
    height: 50vh;
}

#takeBusinessOnline:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
    /* text-decoration: underline; */
    /* text-decoration-color: rgb(252, 84, 84); */
}

#questionMark {
    font-size: 5em;
    transition: all 2s ease-in-out;
    /* text-decoration-color: black; */
}

#questionMark:hover {
    text-decoration: none;
    animation: growAndShrinkQuestionMark 20s;
}

@keyframes growAndShrinkQuestionMark {
    0% {
        font-size: 5em;
    }
    50% {
        font-size: 6em;
    }
    100% {
        font-size: 5em;
    }
}

#category-typing-text {
    z-index: 100;
}


/* create organization form */

#introOrg {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15vh;
    height: fit-content;
}

#organization-form-container {
    background-color: rgba(0, 0, 0, 0.234);
    color: rgba(255, 255, 255, 0.707);
    border-radius: 5px;
    /* backdrop-filter: blur(5px); */
    transition: backdrop-filter 5s ease-in-out;
    backdrop-filter: blur(1px);
}

#organization-form-container:hover {
    backdrop-filter: blur(30px);
}

#organization-form-container input,
#organization-form-container textarea,
#organization-form-container select {
    background-color: rgba(0, 0, 0, 0.474);
    border: none;
    color: white;
}

#organization-form-container input:focus,
#organization-form-container textarea:focus,
#organization-form-container select:focus {
    box-shadow: none;
}

#organization-form-container label {
    color: rgba(255, 255, 255, 0.748);
}

#organization-form-container textarea {
    height: 20vh;
}

.small-note {
    width: 20vw;
}

.buttonRounded-organization {
    background-color: rgba(0, 0, 0, 0.631);
    color: white;
    outline: none;
    border: none;
    border-radius: 2em
}

.buttonRounded-organization:hover {
    background-color: black;
}

.buttonRounded-organization-outlined {
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
    border-radius: 2em;
    border: 2px solid black
}

.buttonRounded-organization-outlined:hover {
    background-color: black;
    color: white;
}


/* create service page */

#introServiceCreate {
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    padding: 15vh;
}


/* service index page */

#introServiceIndex {
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    padding: 20vh;
}

td {
    max-width: 200px;
    overflow-wrap: break-word;
}


/* show service */

.service-image {
    height: 50vh;
    padding-bottom: 2vh;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.563);
    backdrop-filter: blur(10px);
    transition: all 2s ease-in-out;
}

.modal-content:hover {
    background-color: white;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

a {
    cursor: pointer;
}


/* Search  */

#introServiceSearch {
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.searchFormContainer {
    background-color: rgba(0, 0, 0, 0.278);
    border-radius: 0.5em;
}

.searchContainer {
    width: 30;
}

.select2-container .select2-selection {
    width: 13.625vw;
    min-width: 150px;
}

.service-container {
    overflow: hidden;
    border-radius: 2vh;
    box-shadow: 0px 0px 10px rgba(95, 95, 95, 0.118);
    transition: all 0.2s ease-in-out;
}

.service-container:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.service-image-container {
    height: 40vh;
    overflow: hidden;
    /* outline: 1px solid red; */
}

.service-image {
    margin: -1vh -1vw -1vh -5vw;
}

.link-heading {
    text-decoration: none;
    color: black;
}

.link-heading:hover {
    text-decoration: underline;
    color: black;
}

.area-badge {
    cursor: pointer;
}

.area-badge:hover {
    color: black;
    background: white !important;
    outline: 1px solid black;
}

#cart-button {
    font-size: 1.5em;
}


/* utilities */

.big-text {
    font-size: 2em;
    cursor: pointer;
}

#no-result-image {
    width: 60%;
}

#no-result-text {
    padding: 5vh;
    background-color: rgba(123, 123, 123, 0.252);
    position: absolute;
    border-radius: 1vh;
}